<h1>All Community Events</h1>
<a href="/community/new">
    <button class="create-new-community">
        Create New Community
    </button>
</a>

{{#each allCommunity}}
<a href="/community/{{_id}}">
    <p>{{eventName}}</p>
</a>

{{/each}}