<h1>Create New Community</h1>

<form action="/community" method="POST">
    <input type="text" name="name" placeholder="Event name"/>
    <input type="date" name="date" placeholder="Event date "/>
    <input type="boolean" name="corporatePartner" placeholder="Are you a Corporate sponsor?"/>
    <input type="boolean" name="localPartner" placeholder="Are you a Local sponsor?"/>
    <input type="boolean" name="religiousPartner" placeholder="Are you a religious organization?"/>
    <input type="text" name="paragraph" maxlength="250" placeholder="Description of Event"/>
    

    <input type="submit" value="Create"/>
</form>