<h1>All foodDonation Events</h1>
<a href="/foodDonation/new">
    <button class="create-new-community">
        Create New foodDonation event
    </button>
</a>

{{#each allFoodDonation}}
<a href="/foodDonation/{{_id}}">
    <p>{{name}}</p>
</a>

{{/each}}