<span class="container">
<h1>All Food Donation Events</h1>
<div class="containerId">
<a href="/foodDonation/new">
</div>
    <button class="waves-effect waves-light btn-large">
        Create New foodDonation event
    </button>
</a>

<div class="event-style">
{{#each allFoodDonation}}
<a href="/foodDonation/{{_id}}">
    <p>{{name}}</p>
</a>

{{/each}}
</div>
</span>