<h1>Create New Food Donation</h1>

<form action="/foodDonation" method="POST">
    <input type="text" name="name" placeholder="Food Donation Event?" />
    <input type="date" name="date" placeholder="Event date " />
    <input type="text" name="time" placeholder="time">
    <input type="text" name="foodType" maxlength="10" placeholder="food type" />


    <input type="submit" value="Create" />
</form>