<h1>Create New Volunteer</h1>

<form action="/volunteer" method="POST">
    <input type="text" name="name" placeholder="Volunteer Event?" />
    <input type="date" name="date" placeholder="Event date " />
    <input type="text" name="time" placeholder="time">
    <input type="text" name="paragraph" maxlength="250" placeholder="Description of Event" />


    <input type="submit" value="Create" />
</form>